.testimonials-container {
  margin-bottom: 5em;
}

.testimonials-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.testimonials-title,
.title-icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.testimonials-title {
  margin-bottom: 2em;
}

.title-icons .icon {
  border: 1px solid #fff;
  margin-left: 1em;
  padding: 0.5em;
  padding-bottom: 0;

  border-radius: 6px;
}

.title-icons .icon:hover {
  background: linear-gradient(
    to left,
    var(--primary-color-light),
    var(--secondary-color-light)
  );
  cursor: pointer;
}

.testimonials-box {
  border: 1px solid #fff6;
  border-radius: 6px;
  padding: 2em;
  max-width: 25em;
  min-height: 23em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.testimonials-box p {
  margin-bottom: 1em;
  text-align: center;
  font-size: 0.8em;
  font-weight: 200;
}

.testimonials-box img {
  margin-bottom: 1em;
  height: 7em;
  width: 7em;
  background-color: #fff;
  border-radius: 50%;
  object-fit: contain;
}

/* ------------------- MEDIA QUERIES ------------------- */

@media (max-width: 900px) {
  .testimonials-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .testimonials-box {
    margin-bottom: 1em;
  }

  .testimonials-title .heading {
    font-size: 2rem;
    max-width: 13em;
  }
  .title-icons {
    display: none;
  }
}
